.changepwd{
    background-color: #ea907a;
    
}

.privateshoppinglist {
	background-color: #FBC687;
}

.current{
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 200px;
    margin-top: 120px;
}

.New{
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 200px;
    margin-top: 130px;
}

.change{
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 200px;
    margin-top: 120px;
}

input[type=password]{
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid yellow;
    border-radius: 4px;
}

.button{
    margin-left: 1300px;
    
    background-color: #325288;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.display-3 {
    display: inline-block;
    margin-left: 400px;
    margin-right: 400px;

}

.avatar {
    margin-right: 200px;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.img{
    margin-right: 150px;
}

.homepg{
    background-color: #ea907a;
}


/* Homepage Styles */
body {
    font-family: "Poppins", serif;
    text-align: center;
    /* padding: 3% 5%; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", sans-serif;
        color: rgb(71, 52, 0);

}

/* Headings */

.big-heading {
    padding-top: 10%;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

/* Title */
#title {
    background-color: #fbc687;
    color: rgb(71, 52, 0);
    text-align: left;
}
.container-fluid {
    padding: 7% 7%;
}

.container-fluid > h3 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

#title .container-fluid {
    padding: 1% 15% 0%;
}

#title > .row {
    display: flex;
}

.flex-column1 {
    width: 50%;
    flex: 1;
    justify-content: space-evenly;
}
.flex-column2 {
    width: 50%;
    flex: 1;
    justify-content: space-evenly;
}

/* Navigation Buttons */
.navbar {
    padding: 0 0;
    background-color: #fbc687;
    color: #f7f6e7;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand {
    width: 40%;
    font-size: 2.5rem;
    padding-left: 2%;
    font-family: "Zilla Slab", sans-serif;
    font-weight: bold;

}

.navbar-brand>img{
    width:25%;
    display: inline;
}

.navbar-brand>h1{
    display: inline;
}
.navbar-brand span {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
.nav-item {
    font-family: "Poppins", sans-serif;
    padding: 0 0.5rem;
    opacity: 100%;
    min-width: 2rem;
}
.nav-link {
    font-size: 1.2rem;
    font-weight: light;
    color:rgb(71, 52, 0)!important;
}

.nav-link:hover{
    color:rgb(126, 92, 0)!important;
}

/* Title Image */


.title-row{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* .flex-column1{
    width: 75%;
}
.flex-column2{
    width: 25%;
} */
.title-image {
    width: 100%;
}

/* Features */
#features {
    padding: 7% 0%;
    /* margin-top: -15%; */
    background-color: #e7e6e1;
    /* position: relative; */
}

.feature {
    font-family: "Roboto Slab", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 900;
    
}

.fas {
    padding-bottom: 1rem;
    color: #ea907a;
}

.fas:hover {
    color: rgb(255, 139, 85);
}

.feature-col > p {
    color: #8f8f8f;
}

/* Testimonials */

#testimonials {
    padding: 7% 15%;
    background-color: #ea907a;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 1.5rem;
}

.testimonial-text {
    font-style: bold;
    font-weight: 900;
    line-height: 1.5;
    font-size: 3rem;
    color: #e7e6e1;

}

.test-logo {
    width: 15%;
    margin: 1rem 2rem 1rem;
}

.carousel-item {
    padding: 0 15%;
}

/* Call to action */
#cta {
    background-color: #fbc687;
    font-family: "Montserrat";
    font-weight: 900;
    color: rgb(71, 52, 0);
}

#footer {
    background-color: #e7e6e1;

    padding: 2%;
}
#footer > a {
    padding: 5% 2%;
    color: #000;
}
#footer > p {
    margin: 2%;
}
#footer img {
    width: 5%;
}

                                                               /* PRIVATE SHOPPING LIST */

.second{
    background-color: #ea907a

}
.privatesh{
    background-color: #ea907a;
}

body {
  margin: 0;
  min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */

.uli .lii {
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	list-style-type: none;
	background: #eee;
	font-size: 18px;
	transition: 0.2s;
	
	/* make the list items unselectable */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
  
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color:#ea907a;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
                                                                                    /* Private Chatting */

.privatechatting{
    background-color: #ea907a;
    font-size: 30px;

}
